<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product</title>
        
    
    </head>
    <body>
        <%-include('partials/navbar', {links:[]})%>
        <%-include('partials/productInfo', {product: product})%>
        <%-include('partials/footer')%>

    </body>
</html>